# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=

SECRET_KEY=
RESEND_API_KEYRESEND_API_KEY= 

REDIS_HOST_NAME=
REDIS_PORT=
# REDIS_PASSWORD=4b4Rqt1m3epZ11
# REDIS_HOST_NAME=redis-14590.c292.ap-southeast-1-1.ec2.redns.redis-cloud.com
# REDIS_PORT=14590
# REDIS_PASSWORD=JB47LFyKnMH3QGGl0Ta8nZuQKhKsnqUh

# EMAIL_HOST="smtp.gmail.com"
# EMAIL_PORT=587
# EMAIL_USER="khoatran2b@gmail.com"
# EMAIL_PASS="hrfjqbjidnizqqks"

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_CALLBACK_URL=